<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.pingon.pingon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cl.pingon.pingon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cl.pingon.pingon.IndexActivity" />
        <activity android:name="cl.pingon.pingon.EquipmentActivity" />
        <activity
            android:name="cl.pingon.pingon.PlatformActivity"
            android:label="@string/title_activity_platform"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cl.pingon.pingon.TowerCraneActivity"
            android:label="@string/title_activity_tower_crane"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>